/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
#Base 960 Grid
#Tablet (Portrait)
#Mobile (Portrait)
#Mobile (Landscape)
#Clearing */



/* #Base 960 Grid
================================================== */

    .container { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha { margin-left: 0; }
    .column.omega, .columns.omega { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns { width: 40px; }
    .container .two.columns { width: 100px; }
    .container .three.columns { width: 160px; }
    .container .four.columns { width: 220px; }
    .container .five.columns { width: 280px; }
    .container .six.columns { width: 340px; }
    .container .seven.columns { width: 400px; }
    .container .eight.columns { width: 460px; }
    .container .nine.columns { width: 520px; }
    .container .ten.columns { width: 580px; }
    .container .eleven.columns { width: 640px; }
    .container .twelve.columns { width: 700px; }
    .container .thirteen.columns { width: 760px; }
    .container .fourteen.columns { width: 820px; }
    .container .fifteen.columns { width: 880px; }
    .container .sixteen.columns { width: 940px; }

    .container .one-third.column { width: 300px; }
    .container .two-thirds.column { width: 620px; }

    /* Offsets */
    .container .offset-by-one { padding-left: 60px; }
    .container .offset-by-two { padding-left: 120px; }
    .container .offset-by-three { padding-left: 180px; }
    .container .offset-by-four { padding-left: 240px; }
    .container .offset-by-five { padding-left: 300px; }
    .container .offset-by-six { padding-left: 360px; }
    .container .offset-by-seven { padding-left: 420px; }
    .container .offset-by-eight { padding-left: 480px; }
    .container .offset-by-nine { padding-left: 540px; }
    .container .offset-by-ten { padding-left: 600px; }
    .container .offset-by-eleven { padding-left: 660px; }
    .container .offset-by-twelve { padding-left: 720px; }
    .container .offset-by-thirteen { padding-left: 780px; }
    .container .offset-by-fourteen { padding-left: 840px; }
    .container .offset-by-fifteen { padding-left: 900px; }

/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }




/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
		

/* #Basic Styles
================================================== */
	
	body {
		color: #454545;
		font-family: 'Maven Pro', sans-serif;
		background: url(/img/istock_000004791880medium.jpg) center 0 no-repeat white;
		padding-top: 5%;
	}
	
	.logo {
		margin-bottom: 30px;
	}
	a {
		color: rgba(29,45,99,1);
	}
	a:hover {
		color:#0fb762
	}
 
/* #Typography
================================================== */
	
	h1,h2,h3 {
		font-family: 'Bitter', cursive;
	}
	h1 {
		font-size: 34px;
		
	}
	h2 {
		font-size: 18px;
		margin-top: 5%;
		margin-bottom: 0;
	}
	h3 {
		font-size: 16px;
		margin-bottom: 5%;
	}
	
	p {
		font-size: 12px;
		line-height: 18px;
	}

/* #Slideshows
================================================== */

	.slideshow {
		margin-top: 9%;
		width: 320px;
		height: 335px;
		position: relative;
	}

	.slides img {
		border: 6px solid rgba(0,0,0,0.4);
		border-radius: 6px;
	}

	.slide-control {
		background: url(slide-controls.png) no-repeat;
		display: block;
		width: 30px;
		height: 63px;
		text-indent: -99999px;
		position: absolute;
		top: 40%;
	}
		.slide-control.left {
			left: -30px;
		}
		.slide-control.right {
			background-position: -36px 0;
			right: -30px;
		}
	
		
/* #Links
================================================== */
	a { 
		
	}
	
/* #Elements
================================================== */

	.one-third {
		background: #375D81;
		padding: 20px;
		width: 260px !important;
		border-radius: 6px;
		color:#eee;
		min-height: 110px
	}
	
	.icon {
		padding: 10px 0 10px 45px;
	}
		.icon.one {
			background: url(/img/clinical.png) left center no-repeat;
		}
		.icon.two {
			background: url(/img/medical.png) left center no-repeat;
		}
		.icon.three {
			background: url(/img/grants.png) left center no-repeat;
		}
		
	.notify {
		position: absolute;
		z-index: 2;
		top: 0;
		width: 98%;
		text-align: center;
		padding: 12px;
		background: rgba(0,0,0,0.3);
	}
		.notify p {
			font-size: 16px
		}

/* #Forms
================================================== */

	form {
		margin-top: 5%;
	}
	
	input {
		font-family: 'Maven Pro', sans-serif;
		font-size: 14px;
	}
	
	input[type=submit] {
		background: url(form.png) right 0 no-repeat;
		text-indent: -99999px;
		border: 0;
		color: #fff;
		width: 77px;
		height: 51px;
		cursor: pointer;
	}
		input[type=submit]:hover {
			background-position: right -52px;
		}
		
	input[type=email] {
		background: url(form.png) no-repeat;
		border: 0;
		color: #fff;
		width: 316px;
		height: 51px;
		padding-left: 12px;
	}
	
	input:focus, a {
		outline: 0;
		outline-width: 0;
		outline: none;
	}
	

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }