---
layout: default
title: Cordingley Consulting
---

<div class="row">
	<div class="eight columns">
		<img src="/img/CordingleyLogo.png" class="logo" />
			<h1>Medical Industry Research and Regulatory Specialists</h1>
	</div>
		<div class="six columns offset-by-two">
	</div>	
</div>

<div class="row">
	<div class="sixteen columns top-border">
		<h2>Our Services...</h2>
	</div>
</div>

<div class="row">
	<div class="one-third column">
		<h3 class="icon one">Clinical Research</h3>
			<p>Our services encompass all phases of clinical research from inception to publication of results.</p>
	</div>
	<div class="one-third column borders">
		<h3 class="icon two">Medical Research</h3>
			<p>Our advice and guidance through the regulation review process has helped numerous clients.</p>
	</div>
	<div class="one-third column">
		<h3 class="icon three">Grant Preparation</h3>
				<p>A successful grant proposal is one that is well-prepared, thoughtfully planned, and concisely packaged.</p>
	</div>
</div>