 <!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="Keywords" content="${page.keywords}" />
    <meta name="Description" content="${page.description}" />
    <meta name="Author" content="ClinicianSites" />
    
    <!-- Stylesheets & Scripts //-->
    <link href="img/favicon.ico" rel="shortcut icon" />
    
    	<!-- google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Bitter|Maven+Pro:400,700' rel='stylesheet' type='text/css'>

	<!-- favicons -->
	<link rel="icon" type="image/png" href="" />
    
    <link type="text/css" rel="stylesheet" href="/css/styles.css"/>

              <script type="/js/script.js"></script>
   


</head>
<body>
	
		
	<div class="container">
		{{ content }}
      
      		<div class="row">
	
			<div class="sixteen columns">
			
				<p>Dr Rebecca Cordingley - 0407 594 358 - <a href="mailto:rebecca@cordingleyconsulting.com.au">rebecca@cordingleyconsulting.com.au</a></p>
				<p style="">Site by <a href="http://www.hellomedical.com">HelloMedical</a><p>
			
			</div>
		
		</div>
	
	</div>
		
</body>
</html>